:root {
  --ff-primary: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", cursive;

  --fs-primary: 0.9375rem;

  --clr-primary-orange: hsl(31, 77%, 52%);
  --clr-primary-cyan: hsl(184, 100%, 22%);
  --clr-primary-dark-cyan: hsl(179, 100%, 13%);

  --clr-neutral-white: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-gray: hsl(0, 0%, 95%);

  --br-primary: 0.5rem;
}
